/* Rubik Font - Local Files */

/* Light (300) */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/rubik-v30-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-300.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/rubik-v30-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-300italic.woff2')
    format('woff2');
}

/* Regular (400) */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/rubik-v30-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-regular.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/rubik-v30-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-italic.woff2')
    format('woff2');
}

/* Medium (500) */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/rubik-v30-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-500.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/rubik-v30-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-500italic.woff2')
    format('woff2');
}

/* SemiBold (600) */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/rubik-v30-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-600.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/rubik-v30-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-600italic.woff2')
    format('woff2');
}

/* Bold (700) */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/rubik-v30-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-700.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/rubik-v30-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-700italic.woff2')
    format('woff2');
}
